.quote {
    background-image: url('../../Assets/images/supply\ chain\ freight.jpeg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.quote::after {
    content: "";
    background-color: #da2231;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0; 
     width: 50%;
    height: 100%;
    z-index: 2;
}
.quote .quote-left-col{
    z-index: 3;
}