

.custom-css .custom-css-inner {
}

.custom-css .custom-css-inner img {
  height: 600px;
}

.custom-css .custom-css-inner-info {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  bottom: 35%;
  text-align: center;
}
