.custom-css .custom-css-inner-info {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  bottom: 35%;
  text-align: center;
}


.custom-css .custom-css-inner {
}

.custom-css .custom-css-inner img {
  height: 950px;
}




/* media query */

@media only screen and (max-width:425px) {
  .custom-css{
    min-height: 500px !important;
    overflow: hidden;
  }
  .custom-css .custom-css-inner img {
    height: 500px;
    width: 100%;
    overflow: hidden;
  }
  
}
@media only screen and (max-width:1025px) {
  .custom-css{
    min-height: 500px !important;
    overflow: hidden;
  }
  .custom-css .custom-css-inner img {
    height: 500px;
    width: 100%;
    overflow: hidden;
  }
  
}