/* book shipping component */
.book-shipping {
    position: relative;
    background-image: url("../../Assets/images/ocean_freight_feat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
    background-size: cover;
    width: 100%;
    z-index: 1;
    text-align: center;

}
.book-shipping .inner-text{
    
}

.book-shipping .inner-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.589);
    /* background-color: red; */
    width: 100%;
    z-index: 2;
    padding: 50px 0;
}